body {
    background: url(../img/edi4.jpg) no-repeat center center fixed;
    background-size: cover;
}

.contaner {
    background: rgba(51, 51, 51, 0.9);
    padding: 0 20px;
    box-shadow: 0px 3px 9px black;
    margin: auto;
    margin-top: 200px;
    width: 500px;
    border-radius: 10px;
    color: ivory;
}

.user-registro,
.admin-registro {
    margin: 0 auto;
    margin-top: 25%;
    padding: 15px;
}

input {
    height: 40px;
    font-size: 18px;
    border: 0;
    padding-left: 54px;
    padding-bottom: 10px;
    border-radius: 5px;
}

label {
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
}

h1 {
    text-align: center;
}